/* 
* @Author: anchen
* @Date:   2017-04-14 16:18:27
* @Last Modified by:   anchen
* @Last Modified time: 2017-04-15 21:22:52
*/
body {
    font-family: '微软雅黑';
}
.container {
    width:100%;
    padding:0;
    margin:0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
header {
    background-color: #E9E9E9;
}
header .header-nav {
    height: 48px;
}
header .page-header {
    border:none;
    margin: 0;
}
header .page-header h1{
    font-size: 16px;
    font-weight: bold;
    color:#333;
    margin-top:0;
    margin-bottom: -14px;
    line-height: 48px;
}
header .page-header span {
    font-size: 12px;
    padding: 8px;
    line-height: 0px;
    margin-left: 0px;
}
header .page-login {
    line-height: 48px;
}
header .page-login a {
    color: #5e5e5e;
    font-size: 14px;
}
header .page-login a:hover {
    text-decoration: none;
}
.s-header {
    height: 125px;
    background-color: #fff;
}
.s-header .header-nav-tit{
    height:62px;
    margin-top:30px;
}
.s-header .header-nav-tit .center-block{
    width:auto;
}
.s-header .page-header span {
    font-size: 15px;
    color:#333;
    font-weight: 600;
    line-height: 55px;
}


.location{
    width: 100%;
    height: 54px;
    line-height: 54px;
    border-top: 3px solid #01448b;
    background: #d3e0f0;
}
.title-line-c img{
    max-width: 15px;
    float: left;
    margin-right:10px;
    margin-top: 14px;
}
.lf-menu-c{
    margin: 0;
    padding: 0;
}
.lf-menu-c ul{
     list-style:none;
     margin-top:20px;
     padding: 0;
}
.lf-menu-c ul li{
    width: 220px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-indent: 30px;
    font-size: 16px;
}
.lf-menu-c ul li a{
    color:#333;
    text-decoration: none;
    width: 100%;
    height: 50px;
    display: block;
    border-bottom:1px solid #ddd;
}
.lf-menu-c ul li a:hover{
    background: #00448d;
    color:#fff;
    border-bottom:1px solid #00448d;
}
.lf-menu-c ul li a s{
    text-decoration: none;
    font-style: normal;
    font-family: "宋体";
    float: right;
    margin-right: 22px;
}
.inform-right {
    border-top:2px solid #01448b;
    margin-top:20px;
    padding: 0;
}
.inform-right .session{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top:12px;
    padding: 25px;
}
.inform-right .session h3{
    line-height: 25px;
    margin: 0;
    font-size: 18px;
    color: #00428c;
    margin-bottom: 15px;
}
.inform-right .session h3 a{
    color: #00428c;
}
.inform-right .session span{
    display: inline-block;
    margin-bottom: 15px;
    color:#999;
}
.inform-right .session img{
    margin-bottom: 15px;
}
.inform-right .session  p{
    line-height: 28px;
    margin-bottom:10px;
}
.inform-right .session-part{
    margin-top: 20px;
    padding: 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.inform-right .session-part .p-main{
    border: 1px solid #ddd;
    padding: 25px 35px 35px 35px;
    border-radius: 5px;
}
.inform-right .session-part .p-main .p-right h4{
    margin:0;
    margin-bottom:15px;
}
.inform-right .session-part .p-main .p-right p{
    line-height: 25px;
}
.inform-right .session-part .p-main .p-right span{
    color:#999;
    display: inline-block;
    margin-bottom: 5px;
}
.inform-right .session-part .p-main .p-bottom{
    text-align: center;
}
.inform-right .session-part h3{
    margin:0;
    line-height: 30px;
    font-size:22px;
    text-align: center;
    margin-bottom: 20px;
}
/*.inform-right .session-part span{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #999;
    margin-bottom: 20px;
}
.inform-right .session-part p{
    line-height: 27px;
    padding: 0;
    margin:0;
}
*/
.banner {
    padding:0;
}
.notice {
    width: 420px;
    height: 494px;
    background-color: #FFFBC7;
}
.notice .news {
    padding-top:10px;
    height: 474px;
}
.notice .n-main h3 {
    font-size: 22px;
    font-weight: 600;
    float: left;
    color:#ce0609;
    margin-right: 13px;
}
.notice .n-main img {
    display: inline-block;
    padding-top :35px;
}
.notice .n-main p {
    margin-top: 25px;
    text-indent: 27px;
    line-height: 22px;
    height: 155px;
    overflow: hidden;
}
.notice .n-main hr{
    width: 100%;
    height: 0;
    margin: 5px 0;
    border-top: 1px dotted #ddd;
}
.notice .n-main a {
    position: absolute;
    bottom: 10px;
    right:10px;
    font-size: 16px;
    color:#3e3e3e;
    margin-top: 10px;
}

.base {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F9F9F9;
}

.base .b-active {
    border-top: 2px solid #00448C;
    background-color: #fff;
    padding-bottom: 45px;
    box-shadow:0 2px 3px #eaeaea;
    /*margin-right: 7%;*/
}
.base .b-show {
    box-shadow:0 2px 3px #eaeaea;
}
.base .b-header {
    height: 45px;
    margin-top: 10px;
    margin-left: -22px;
    background:url(../images/school-lg.png) no-repeat left bottom;
}

.base .b-header h4 {
    color:#fff;
    display: inline-block;
    line-height: 20px;
}
.base .b-header a {
    float: right;
    color: #3e3e3e;
    line-height: 38px;
}
.base .a-main h5{
    font-size: 18px;
    color: #00448c;
    font-weight: 600;
    margin: 0;
    height: 40px;
    overflow: hidden;
    /*letter-spacing:1px;*/
}
.base .a-main h5 a{
    color: #00448c;
}
.base .a-main li,.base .b-main li {
    list-style-image: url(../images/list-style-red.png);
    margin-left: 16px;
    height: 30px;
    line-height: 30px;
}
.base .a-main li  a,.base .b-main li a{
    color:#333;
}
.base .a-main a ,.base .b-main a{
    color: #333;
    line-height: 40px;
}
.base .a-main  span ,.base .b-main span{
    float: right;
}

.base .b-show {
    border-top: 2px solid #00448C;
    background-color: #fff;
}
.base .b-show p {
    padding-top: 4px;
}
.build {
    background-color: /*#fff*/#f9f9f9;
    padding-bottom:40px; 
}
.build .b-base .bb-header {
    height: 180px;
    text-align: center;
    background: url(../images/basis-hg.png) no-repeat center;
}
.build .b-base .bb-header h2,.b-plan h2 {
    /*line-height: 74px;
    color: #00448c;*/
    line-height: 74px;
    color: #00448c;
    width: auto;
    display: inline-block;
    /* min-width: 300px; */
    padding: 0 10px;
    height: 74px;
    margin: 15px auto;
    background: #f9f9f9;
}
.build .b-base .bb-header span,.b-plan span{
    width: 370px;
    height: 50px;
    line-height: 50px;
    color: #ccc;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: -35px;
    font-size: 20px;
}
.build .b-base .b-plan {
    height: 180px;
    text-align: center;
    background: url(../images/basis-hg.png) no-repeat center;
}

.base-table>tbody>tr>td, .base-table>tbody>tr>th {
    line-height: 32px;
    text-align: center;
    border-right: 1px solid #DEDEDE;
    vertical-align: middle;
}
table, table th {
    text-align: center;
}
.planning-table>tbody>tr>td, .planning-table>tbody>tr>th {
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-right: 1px solid #DEDEDE;
    vertical-align: middle;
}
.inform{
    /*margin-bottom: 40px;*/
    padding: 0;
}

/*页脚*/
footer .navbar-default {
    background-color: #00448C;
    border-color: #00448C;
    border-radius: 0;
    margin-bottom: 0;
}
footer nav p {
    color:#fff;
    line-height: 50px;
}
.inform-right #slides{
   width: 100%;
   height: 400px;
   display: inline-block;
   overflow: hidden;
   border-bottom: 0;
   position: relative;
}
.inform-right #slides ul{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
}
.inform-right #slides ul li{
    width:100%;
    height:100%;
    float:left;
}
.inform-right #slides li{
    border: 1px solid #ddd;
    border-radius: 0;
}
.inform-right #slides li .p-right{
    margin-top:20px;
}
.inform-right #slides li .p-right p{
    max-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inform-right #slides .p-main{
    border: none;
    padding-bottom: 40px;
}
.inform-right #slides ol{
    display: none;
}
.scro-focus-ctrl{
    position: absolute;
    top: 105px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: .5;
}
#scro-focus-prev{
    left: 21px;
    background: url(../images/an-z.png) center no-repeat;
    background-size: 50%;
}
#scro-focus-next{
    right:21px;
    background: url(../images/an-y.png) center no-repeat;
    background-size: 50%;
}
.inform-right .session-part span.slidelocal{
    color: #333;
    margin-top:-25px;
    position: absolute;
    left: 49%;
}

/*基地动态轮播*/
.base .a-main .scro-focus{
    display:block;
    position:relative;
    width:350px;
    height: 220px;
    overflow:hidden;
    float: left;
}
.base .a-main .scro-focus ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.base .a-main .scro-focus ul li{
    position:absolute;
    background:#f8f8f8;
    top:3px;
    left:3px;
    width: 100%;
    height: 100%;
    display: block;
    list-style-image: none;
}
.base .a-main .scro-focus ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.base .a-main .scro-focus ul li .scro-blo{
    width: 100%;
    height: 100%;
    position: relative;
}
.base .a-main .scro-focus ul li .scro-img{
    width:100%;
    height: 100%;
    float:left;
}
.base .a-main .scro-focus ul li .scro-img img{
    width:100%;
    height:100%;
    position:relative;
    z-index:0;
    padding: 0;
    margin: 0;
}
.base .a-main .scro-focus .scrodes{
    width:220px;
    height: 22px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
    z-index: 88;
    line-height: 20px;
    font-size: 14px;
    overflow:hidden;
    color:#333;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    text-overflow: ellipsis;
    white-space: nowrap;
}
.base .a-main .scro-focus a:hover{
    color:#666;
}
.base .a-main .scro-focus ol {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 20px;
    z-index: 999;
}
.base .a-main .scro-focus ol li {
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    border-left: 1px solid #fff;
    box-sizing:border-box;
    margin-left: 0;
    list-style-image: none;

}
.base .a-main .scro-focus ol li.cur {
    background: #cc0000;
}

.table-spec{
    width: 100%;
}
.inform-right .session-part .table-spec h3{
    text-align: left;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}
.table-spec  table{
    width: 100%;
    margin-bottom: 40px;
}
.table-spec tr td{
    border:1px solid #ddd;
    padding: 10px;
    font-size: 13px;
    text-align: left;
    padding-left: 20px;
    color: #666;
}
.table-spec tr td:first-child{
    background: #eee;
}
.inform-right .session-part  .table-spec tr td span{
    display: block;
    width: 50%;
    height: 60px;
    float: left;
    line-height: 60px;
    text-align: center;
    color: #999;
    margin-bottom: 0;
    color: #333;
}
.inform-right .session-part  .table-spec tr td span:nth-child(2){
    line-height: 30px;
    border-left: 1px solid #ddd;
}
.inform-right .session-part  .table-spec tr td  s{
    text-decoration: none;
    font-style: normal;
    width: 100%;
    float: left;
    display: block;
    box-sizing: border-box;
    color: #666;
}
.inform-right .session-part  .table-spec tr td  s:first-child{
    border-bottom:  1px solid #ddd;
}
.inform-right .session-part  .table-spec tr td  s.sp-row{
    padding-left: 20px;
    line-height: 30px;
}
.base #slidess {
    width: 380px;
    height: 240px;
    margin: 0 auto;
    clear: both;
    float: none;
    padding-top: 15px;
}
.base #slidess ul{
    width: 330px;
    height: 240px;
   padding: 0;
   margin: 0;
   overflow: hidden;
   margin: 0 auto;
}
.base #slidess ul li{
    list-style: none;
    list-style-image:none;
    width: 100%;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
.base #slidess ul li img{
    width: 330px;
    height: 190px;
}
.base #slidess .scro-focus-ctrl{
    position: absolute;
    top:100px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.base #slidess  #scro-focus-prev{
    left: 0;
    background: url(../images/icon-lf.png) center no-repeat;
}
.base #slidess #scro-focus-next{
    right:0;
    background: url(../images/icon-rig.png) center no-repeat;
}
.cour-List{
    width: 100%;
    display: block;
    height: auto;
    margin-top:-30px;
}
.cour-List ul{
    width: 100%;
    height: auto;
    float: left;
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.cour-List ul li.cour-list-item{
    width: 175px;
    height: 160px;
    float: left;
    list-style: none;
    margin: 10px;
}
li.cour-list-item .c-item-img{
    width: 175px;
    height: 102px;
    border:1px solid #ddd;
    padding: 5px;
}
li.cour-list-item .c-item-img img{
    width: 100%;
    height: 100%;
}
li.cour-list-item h4.c-item-name{
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
li.cour-list-item h4.c-item-name a{
    color: #333;
}
li.cour-list-item h4.c-item-name a:hover{
    color: #ff0000;
}
li.cour-list-item p{
    width: 100%;
    height: 17px;
    overflow: hidden;
}
li.cour-list-item p.c-item-school{
    color: #295190;
    margin-top:10px;
    font-size: 12px;
    margin-bottom: 0;
}
li.cour-list-item p.c-item-uname{
    color: #295190;
    margin-top:10px;
    font-size: 12px;
    margin-bottom: 20px;
}
.build .b-base .spec-c-con{
    background: #fff;
    display: inline-block;
    width: 100%;
    height: auto;
    border-top: 2px solid #00448C;
}
.k-main .b-header{
    height: 45px;
    margin-top: 10px;
    margin-left: -10px;
    background: url(../images/btys.png) no-repeat left bottom;
}
.k-main .b-header h4{
    color: #fff;
    display: inline-block;
    line-height: 20px;
    float: left;
}
.k-main .b-header p{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    margin-left: 20px;
    background: #fff;
    height: 100%;
    float: left;
    padding-left: 20px;
}
.k-main .b-header p .spec-strong{
    font-size: 24px;
    font-weight: 600;
    color: #00448C;
    margin:0 5px;
}
.k-main .b-header a{
    float: right;
    line-height: 40px;
    color: #333;
}
.base .kk-main{
    width: 100%;
}
.kk-main .b-content{
    width: 100%;
    padding: 20px 50px;
}
.kk-main .b-con-lf{
     width: 330px;
     height: 270px;
    float: left;
}
.kk-main .b-con-lf img.b-con-img{
   width: 100%;
   height: 200px;
   display: block;
   border:1px solid #ddd;
}
.kk-main .b-con-lf a.btn.submit-lbtn{
   width: 100%;
   height: 60px;
   line-height: 60px;
   display: block;
   text-decoration: none;
   margin-top:10px;
   background: #f56425;
   color: #fff;
   font-size: 22px;
   padding: 0;
   border-radius: 0;
}
.kk-main .b-con-lf a.btn.submit-lbtn:hover{
    background: #f5510a;
}
.kk-main .b-con-rig{
    width: 735px;
    float: right;
    border-left: 1px solid #ddd;
    padding-left: 25px;
}
.kk-main .b-con-rig ul{
    list-style: none;
    padding: 0;
    height: 270px;
    overflow: hidden;
    width: 100%;
    margin: 0;
}
.kk-main .b-con-rig ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    border-bottom: 1px dashed #ddd;
    margin: 0;
    padding: 0;
}
.kk-main .b-con-rig ul li p.xm-tit{
    width: 30%;
    display: inline-block;
    margin: 0;
    float: left;
    overflow: hidden;
}
.kk-main .b-con-rig ul li p.xm-tit a{
    text-decoration: none;
    color: #333;
}
.kk-main .b-con-rig ul li p.xm-tit a:hover{
    text-decoration: underline;
}
.kk-main .b-con-rig ul li p.xm-tit a span{
    display: inline;
}
.kk-main .b-con-rig ul li p.xm-model{
    width: 50%;
    height: 40px;
    display: inline-block;
    margin: 0;
    float: left;
    overflow: hidden;
}
.kk-main .b-con-rig ul li p.xm-model span{
    display: inline;
}
.kk-main .b-con-rig ul li a.xm-look{
    width: 20%;
    display: inline-block;
    margin: 0;
    float: left;
    overflow: hidden;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    color: #f56425;
     text-decoration: none;
}
.kk-main .b-con-rig ul li a.xm-look:hover{
    text-decoration: underline;
}
.p-main .b-header{
    height: 45px;
    margin-top: 10px;
    margin-left: -10px;
    background: url(../images/school-lg.png) no-repeat left bottom;
}
.p-main .b-header h4{
    color: #fff;
    display: inline-block;
    line-height: 20px;
    float: left;
}


/* 合作企业css */
.picScroll-left{width: 100%;overflow:hidden;position:relative;/* border:1px solid #ccc; */}
.picScroll-left .hd{overflow:hidden;/* height:30px; *//* background:#f4f4f4; *//* padding:0 10px; */height: 0;}
.picScroll-left .hd .prev,.picScroll-left .hd .next{
  display:block;  
  width:5px;
  height:9px; 
  position:absolute;
 cursor:pointer; 
 top:40px;
 width: 18px;
 height: 34px;
}
.picScroll-left .tempWrap{
    margin: 0 auto;
    margin-top:-10px;
    padding-bottom: 20px
}
.picScroll-left .hd .prev{
    left: 10px;
 background: url(../images/arr-lf.png) no-repeat;
}
.picScroll-left .hd .next{right: 10px; background: url(../images/arr-rig.png) no-repeat;}
.picScroll-left .hd .prevStop{ background-position:-60px 0; }
.picScroll-left .hd .nextStop{ background-position:-60px -50px; }
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("images/icoCircle.gif") 0 -9px no-repeat; }
.picScroll-left .hd ul li.on{ background-position:0 0; }
.picScroll-left .hd .pageState{display: none;}
.picScroll-left .bd{ padding:10px;   }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{ width:240px; height:70px; display:block; margin:0 3px; padding:2px; border:1px solid #ccc; }
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{ line-height:24px;   }


@media (min-width: 320px) and (max-width:414px) {
    .banner{
        display: none;
    }
    .s-header {
        height: 65px;
        background-color: #fff;
        
    }
    .lf-menu-c ul{
        display: none;
    }
    .location {
        width: 100%;
        height: 54px;
        height: 60px;
        line-height: 25px;
        border-top: 3px solid #01448b;
        background: #d3e0f0;
    }
    .location img{
        margin-top:3px;
    } 
    .title-line-a{
        margin-top:4px;
    }
    .s-header .header-nav-tit{
        margin-top: 10px;
    }
    .s-header .page-header span{
        font-size: 14px;
        line-height: 35px;
        text-align: center;
    }
    header .header-nav{
        height:80px;
        display: none;
    }
    header .page-header {
        margin: 10px 0 20px 0;
       
    }
    header .page-header h1{
        font-size: 13px;
    }
    header .page-header span.tips {
        padding: 12px;
        line-height: 26px;
    }
    header .page-login {
        margin-top:-35px;
        margin-left:10px;
    }
    .inform-left{
        margin:0;
        padding: 0;
    }
    .navbar-fixed-bottom, .navbar-fixed-top{
        position: relative;
        margin-top:20px;
    }
    header .page-header{
        padding: 0;
    }
    .s-header .header-nav-tit .center-block{
        padding: 0;
        margin:0;
    }
}
@media (min-width: 420px) and (max-width:768px) {
    header .header-nav {
        height: 60px;
    }
    header .page-header {
        margin: 10px 0 20px 0;
    }
    header .page-header h1{
        font-size: 13px;
    }
    header .page-header span.tips {
        padding: 12px;
        line-height: 22px;
    }
    .s-header {
        height: 100px;
    }

    header .header-nav{
        height:80px;
        display: none;
    }
    .lf-menu-c ul{
        display: none;
    }
    .location {
        width: 100%;
        height: 54px;
        height: 60px;
        line-height: 25px;
        border-top: 3px solid #01448b;
        background: #d3e0f0;
    }
    .location img{
        margin-top:3px;
    } 
    .title-line-a{
        margin-top:4px;
    }
    .navbar-fixed-bottom, .navbar-fixed-top{
        position: relative;
        margin-top:20px;
    }
    header .page-header{
        padding: 0;
    }
}
@media (min-width: 320px) and (max-width:414px) {
    .b-main {
        padding:0;
    }
    .b-active {
        padding:0;
        margin-bottom: 20px;
    }
    .a-main {
        padding:0;
    }
    .a-right {
        padding:0;
    } 
    .notice{
        width: 100%;
    }
    .notice .n-main p{
        margin:0;
    }
    .notice .n-main img{
        padding-top:0;
        width: 100%;
    }
    .notice .n-banner a{
       font-size: 14px;
       margin-top: -10px;
    }
    .cour-List ul{
        padding: 0;
    }
    .k-main .b-header{
        margin-left: 0;
        height: 90px;
        background: url(../images/btys.png) no-repeat left top;
    }
    .k-main .b-header p {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 50px;
        line-height: 25px;
        margin-top: 10px;
    }
    .k-main .b-header p .spec-strong{
        font-size: 16px;
    }
    .k-main .b-header a{
        position: absolute;
        top:0;
        right: 10px;
    }
    .kk-main .b-content{
        padding: 20px 15px;
    }
    .kk-main .b-con-rig{
        width: 100%;
        border: 0;
        padding: 0;
        margin-top: 10px;
        border-top: 1px solid #ddd;
        padding-left: 5px;
    }
    .kk-main .b-con-lf{
        float: none;
        margin: 0 auto;
    }
    .kk-main .b-con-rig ul li p.xm-model,.kk-main .b-con-rig ul li p.xm-tit{
        font-weight: 600;
    }
    .kk-main .b-con-rig ul li p.xm-model span,.kk-main .b-con-rig ul li p.xm-tit span{
        font-weight: normal
    }
    .p-main .b-header{
        margin-left: 0;
    }
    .picScroll-left .hd .prev,.picScroll-left .hd .next{
        display: none;
    }
    .build{
        padding: 2px;
    }
}
@media (min-width: 320px) and (max-width:414px) {
    .base .b-header {
        margin-left: -8px;
    }
    .cour-List ul li.cour-list-item{
        margin: 5px;
    }
}
@media (min-width: 320px) and (max-width:414px) {
    .base .a-main li {
        float: left;
    }
    .base .a-main h5 {
        font-size: 13px;
    }
    .base .a-main a, .base .a-main span {
        font-size: 12px;
    }
}
@media (max-width: 720px){
    .notice{
        width: 100%;
    }
    .base{
        padding: 0;
    }
}
@media (min-width: 720px) and (max-width: 1023px) {
    .banner .center-block{
        display: block;
        width: 100%;
        height: 500px;
    }
    .notice{
        width: 100%;
    }
    .base{
        padding-left: 0;
    }
    .notice{
        width: 100%;
    }
    .notice .n-main p{
        margin:0;
    }
    .notice .n-main img{
        padding-top:0;
        width: 100%;
    }
    .notice .n-banner a{
       font-size: 14px;
       margin-top: -10px;
    }
    .cour-List ul{
        padding: 0;
    }
    .k-main .b-header{
        margin-left: 0;
        height: 90px;
        background: url(../images/btys.png) no-repeat left top;
    }
    .k-main .b-header p {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 50px;
        line-height: 25px;
        margin-top: 10px;
    }
    .k-main .b-header p .spec-strong{
        font-size: 16px;
    }
    .k-main .b-header a{
        position: absolute;
        top:0;
        right: 10px;
    }
    .kk-main .b-content{
        padding: 10px;
    }
    .kk-main .b-con-rig{
        width: 100%;
        border: 0;
        padding: 0;
        margin-top: 10px;
        border-top: 1px solid #ddd;
        padding-left: 5px;
    }
    .kk-main .b-con-lf{
        float: none;
        margin: 0 auto;
    }
    .kk-main .b-con-rig ul li p.xm-model,.kk-main .b-con-rig ul li p.xm-tit{
        font-weight: 600;
    }
    .kk-main .b-con-rig ul li p.xm-model span,.kk-main .b-con-rig ul li p.xm-tit span{
        font-weight: normal
    }
    .p-main .b-header{
        margin-left: 0;
    }
    .picScroll-left .hd .prev{
        left: 0;
    }
}
@media (min-width: 1024px){
    .s-header {
        width: 1200px;
        height: 125px;
        background-color: #fff;
        float: none;
        margin: 0 auto;
    }
    .s-header .header-nav-tit{
        margin-left: 0;
        padding: 0;
    }
    header .page-header{
        padding: 0;
    }
    .s-header .header-nav-tit .center-block{
        padding: 0;
    }
    header .header-nav{
        width: 1200px;
        float: none;
        margin: 0 auto;
    }
    header .page-header h1{
        padding: 0;
    }
    header .page-login {
        line-height: 48px;
        width: 120px;
        float: right;
    }
    .base .b-main{
        width: 1228px;
        margin: 0 auto;
        float: none;
    }
    .base .b-active{
        width: 767px;
        height: 310px;
    }
    .base .b-header{
        margin-left: -9px;
    }
    .base .b-show{
        width: 411px;
        margin:0;
        padding: 0;
        float:right;
        height: 310px;
    }
    .base .b-main .a-left{
        width: 350px;
        padding: 0;
        margin: 0;
    }
    .base .b-main .a-right{
        width: 357px;
        float: right;
        margin: 0;
        padding: 0;
    }
    .base .b-main .a-cen-course{
        width: 357px;
        float: left;
        margin: 0;
        padding: 0; 
        margin-left: 20px;
    }
    .base .b-main .a-right ul{
        padding: 0;
    }
    .build .b-base{
        width: 1200px;
        margin: 0 auto;
        float: none;
    }
    .banner-top{
        width:100%;
        max-width: 1920px;
        height: 500px;
        margin: 0 auto;
        position: relative;
    }
    .banner{
        width: 1200px;
        height: 500px;
        margin:0;
        float: none;
    }
    .banner .center-block{
        width: 1920px;
        height: 500px;
        display: block;
        max-width: 1920px;
        margin: 0;
    }
    .a-main .center-block{
       width: 350px;
    }
    .notice{
        position: absolute;
        right: auto;
    }
    .inform{
        min-height: 700px;
    }
    .inform .inform-left{
        width: 1200px;
        margin: 0 auto;
        padding: 0;
        float: none;
    }
    .location .container{
        width: 1200px;
        margin: 0 auto;
        padding: 0;
        float: none;
    }
    .title-line-a{
        margin:0;
    }
    .notice {
        position: absolute;
        top: 3px;
        left: 1120px;
        width: 420px;
        height: 494px;
        background-color: #FFFBC7;
    }
    .inform-right #slides{
       width: 100%;
       height: 345px;
       overflow: hidden;
       border-bottom: 0;
       position: relative;
    }
    .inform-right #slides ul{
        margin: 0;
        padding: 0;
        width:100%;
        height:100%;
        display:block;
        overflow:hidden;
    }
    .inform-right #slides ul li{
        width:100%;
        height:100%;
        float:left;
    }
    .inform-right #slides li{
        border: 1px solid #ddd;
        border-radius: 0;
    }
    .inform-right #slides .p-main{
        border: none;
        padding-bottom: 40px;
    }
    .inform-right #slides ol{
        display: none;
    }
    .scro-focus-ctrl{
        position: absolute;
        top: 105px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        opacity: .5;
    }
    #scro-focus-prev{
        left: 21px;
        background: url(../images/an-z.png) center no-repeat;
        background-size: 70%;
    }
    #scro-focus-next{
        right:21px;
        background: url(../images/an-y.png) center no-repeat;
        background-size: 70%;
    }
    .inform-right .session-part span.slidelocal{
        color: #333;
        margin-top:-25px;
    }
    .inform-right #slides ul li img{
       width: 430px;
       height: 248px;
    }
   
}
.s-header,.location .container,.inform .inform-left,header .header-nav{
    max-width: 1200px;
    margin: 0 auto;
}
.spec-conBox{
    margin-top:20px;
}