

<!DOCTYPE html><html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>辽宁省高等学校实训培训基地平台</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" /> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
PoweredBy 链接  {stl.PoweredBy}
<br/>
站点名称  {stl.SiteName}
  <br/>
站点ID  {stl.SiteID}
  <br/>
站点文件夹，如果为总站点，值为空  {stl.SiteDir}
  <br/>
站点根目录地址  {stl.SiteUrl}
  <br/>
系统根目录地址  {stl.RootUrl}
  <br/>
当前页地址  {stl.CurrentUrl}
  <br/>
栏目页地址  {stl.ChannelUrl}
</body>