<stl:include file="/include/header.html"></stl:include>

                        <div class="col-md-9 col-sm-9 col-xs-12 inform-right">
                            <div class="session-part">
                                <stl:contents totalNum="1">
                                    <h3><stl:content type="Title"></stl:content></h3>
                                    <span>{content.lastEditDate}&nbsp;&nbsp;来源：{content.source}</span>
                                    {content.content}
                                </stl:contents>
                            </div>
                        </div>

                        <div class="col-md-offset-3 col-md-9 col-sm-12 col-xs-12">
                            <span>上一篇：<a href="{stl.siteurl}/">省教育厅召开向应用型转变试点工作调研推进会</a></span>
                        </div>
                    </div>    
                </div>
            </div>
        </div>

<stl:include file="/include/footer.html"></stl:include>
